.red {
  background-color: red;
}

.bold {
  font-weight: bold;
}

.Button {
  background-color: green;
  color: white;
  padding: 8px;
  border: 1px solid blue;
  cursor: pointer;
}

.Button:hover {
  background-color: salmon;
  color: white;
}

.Button.red {
  background-color: red;
}

.Button.red:hover {
  background-color: yellow;
  color: white;
}
